
.solid-border{
    border: solid 2px black;
}

.flex-row-v-center{
    display: flex;
    align-items: center;
}


ul {
    list-style: none;
}

ul li {
    box-sizing: border-box;
    height: 4rem;
    padding: 0 1rem 0 1rem;
    margin-right: 1rem;
    font-weight: bold;
}

a, a:visited{
    color: black;
    text-decoration: none;
}

div.affiche-components{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  5rem 1fr 1fr;
}

div.component{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}